@keyframes Bounce {
  0% { transform: translateY(0); opacity: 0; }
  25% { transform: translateY(-6px); }
  50% { transform: translateY(0px); }
  75% { transform: translateY(-2px); }
  100% { transform: translateY(0); opacity: 1; }
}


@font-face {
  font-family: 'Proximanova black';
  src: url('./assets/fonts/PROXIMANOVA-BLACK_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanova bold it';
  src: url('./assets/fonts/PROXIMANOVA-BOLDIT_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanova bold';
  src: url('./assets/fonts/PROXIMANOVA-BOLD_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanova extra bold';
  src: url('./assets/fonts/PROXIMANOVA-EXTRABOLD_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanova light italic';
  src: url('./assets/fonts/PROXIMANOVA-LIGHTITALIC_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanova light';
  src: url('./assets/fonts/PROXIMANOVA-LIGHT_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanova regular italic';
  src: url('./assets/fonts/PROXIMANOVA-REGULARITALIC_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanova regular';
  src: url('./assets/fonts/PROXIMANOVA-REGULAR_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanova semi bold italic';
  src: url('./assets/fonts/PROXIMANOVA-SEMIBOLDITALIC_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanova semi bold';
  src: url('./assets/fonts/PROXIMANOVA-SEMIBOLD_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanovacond light it';
  src: url('./assets/fonts/PROXIMANOVACOND-LIGHTIT_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanovacond light';
  src: url('./assets/fonts/PROXIMANOVACOND-LIGHT_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanovacond regular it';
  src: url('./assets/fonts/PROXIMANOVACOND-REGULARIT_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanovacond regular';
  src: url('./assets/fonts/PROXIMANOVACOND-REGULAR_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanovacond semi bold it';
  src: url('./assets/fonts/PROXIMANOVACOND-SEMIBOLDIT_0.OTF') format('opentype');
}

@font-face {
  font-family: 'Proximanovacond semi bold';
  src: url('./assets/fonts/PROXIMANOVACOND-SEMIBOLD_0.OTF') format('opentype');
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

.btn {
  
}

.btn-link {
  color: #5574F7 !important;
}

.dejavu-small-text {
	font-size: 2.5vh;
}

.dejavu-large-text {
	font-size: 5vh;
}

.material-icons {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
